// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "sass:math"; // Import the math module
@use 'bootstrap/scss/bootstrap-grid.scss';

$background-color: #FBF9F5;
$text-color: #693732;

:root {
  @include mat.toolbar-overrides((
    container-background-color: $background-color,
    container-text-color: $text-color,
  ));

  @include mat.theme-overrides((
    primary: $text-color,
    on-primary: $background-color,
    corner-large: 32px
  ));

  @include mat.button-overrides((
    filled-container-shape: .6em,
  ));

  @include mat.icon-button-overrides((
    icon-color: $text-color,
  ));
}

html {
  @include mat.theme((color: (theme-type: light,
        use-system-variables: true,
        system-variables-prefix: 'discorkie'
      ),
      typography: (plain-family: Montserrat,
        bold-weight: 900,
        medium-weight: 600,
        regular-weight: 400,
      ),
      density: 0,
    ));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: $background-color;
  font-family: Montserrat, sans-serif;
  color: var(--myapp-text-color, #693732);
}

a {
  text-decoration: none;
  color: inherit;
}
