<section class="container">
  <h1>Frequently asked questions</h1>
  <div class="row pb-5">

    <div class="col-lg-4">
      <p>Welcome to the DisCorkie FAQ. Whether you're just discovering DisCorkie or already managing multiple forums with ease, this page is here to help. We've compiled answers to common questions about what DisCorkie is, how it works, and how to make the most of it across all your devices.</p>
    </div>

    <div class="col-lg-8">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let question of questions">
          <mat-expansion-panel-header>
            <mat-panel-title> {{ question.question }}</mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{ question.answer }}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>

  <p>
    Still have questions?
We're here to help. If you couldn't find the answer you were looking for, feel free to contact us, follow us on social media, or check out our latest updates. Your feedback helps us make DisCorkie even better.
  </p>
</section>
