<section class="container">
  <h1>Frequently asked questions</h1>
  <div class="row pb-5">

    <div class="col-lg-4">
      <p i18n>Welcome to the DisCorkie FAQ. Whether you're just discovering DisCorkie or already managing multiple forums
        with ease, this page is here to help. We've compiled answers to common questions about what DisCorkie is, how it
      works, and how to make the most of it across all your devices.</p>
    </div>

    <div class="col-lg-8">
      <mat-accordion>
        @for (question of questions; track question) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> {{ question.question }}</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ question.answer }}</p>
          </mat-expansion-panel>
        }
      </mat-accordion>

      <div class="mt-4">
        <p i18n>
          Still have questions? We're here to help! If you couldn't find the answer you were looking for, feel free to
          reach out to us on social media or email us at
          <a href="mailto:support@appoutlet.dev" style="text-decoration: underline;">{{'support@appoutlet.dev'}}</a>.
          Your
          feedback helps us make DisCorkie even better.
        </p>
      </div>

    </div>
  </div>
</section>
