section {
  background-color: #f3efe7;
  padding-top: 4em;
  padding-bottom: 4em;
  border-start-end-radius: 8em;
}

.logo {
  width: 3em;
  height: 3em;
}

.app-name {
  font-weight: 600;
}

.copyright {
  font-size: small;
  opacity: 0.5;
}

.link-column a {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-bottom: 1em;
}
