<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a routerLink="/">
          <img src="logo.svg" alt="Application logo" class="logo" />
        </a>

        <a routerLink="/">
          <p class="app-name">DisCorkie</p>
        </a>

        <p class="copyright mb-5">© Copyright 2025 AppOutlet</p>

        <a href="https://www.instagram.com/app.outlet" mat-icon-button target="_blank">
          <mat-icon fontSet="ph" fontIcon="ph-instagram-logo" class="social-icon"></mat-icon>
        </a>
        <a href="https://www.threads.com/@app.outlet" mat-icon-button target="_blank">
          <mat-icon fontSet="ph" fontIcon="ph-threads-logo" class="social-icon"></mat-icon>
        </a>
        <a href="https://x.com/AppOutletTeam" mat-icon-button target="_blank">
          <mat-icon fontSet="ph" fontIcon="ph-x-logo" class="social-icon"></mat-icon>
        </a>
        <a href="https://mastodon.social/@AppOutlet" mat-icon-button target="_blank">
          <mat-icon fontSet="ph" fontIcon="ph-mastodon-logo" class="social-icon"></mat-icon>
        </a>
        <a href="https://www.youtube.com/@AppOutletTeam" mat-icon-button target="_blank">
          <mat-icon fontSet="ph" fontIcon="ph-youtube-logo" class="social-icon"></mat-icon>
        </a>
        <a href="https:/github.com/AppOutlet" mat-icon-button target="_blank" class="mb-5">
          <mat-icon fontSet="ph" fontIcon="ph-github-logo" class="social-icon"></mat-icon>
        </a>
      </div>

      <div class="col link-column">
        <h3>About</h3>
        <a routerLink="/faq">FAQ</a>
        <a href="https://blog.appoutlet.dev/tag/discorkie-changelog?source=tags_bottom_blogs" target="_blank">Changelog</a>
        <a href="https://blog.appoutlet.dev" target="_blank">Blog</a>
        <a href="https://appoutlet.dev" target="_blank">AppOutlet</a>
      </div>

      <div class="col link-column">
        <h3>Downloads</h3>
        <a href="https://play.google.com/store/apps/details?id=dev.appoutlet.DisCorkie" target="_blank">Android</a>
        <a [href]="windowsDownloadLink">Windows</a>
        <a href="https://flathub.org/apps/dev.appoutlet.DisCorkie" target="_blank">Flatpak</a>
        <a href="https://snapcraft.io/discorkie" target="_blank">Snap</a>
      </div>

      <div class="col link-column">
        <h3>Organisation</h3>
        <a href="">Privacy policy</a>
        <a href="">License</a>
        <a href="">Data control</a>
      </div>
    </div>
  </div>
</section>
