<div class="container features">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <app-feature
        icon="magnifying-glass"
        i18n-title title="Discover New Communities"
        i18n-description description="Find forums based on your interests and language preferences with ease."
      ></app-feature>

      <app-feature
        icon="push-pin"
        i18n-title title="All Your Forums, One App"
        i18n-description description="Manage multiple Discourse communities from a single place — no more browser tab overload."
      ></app-feature>

      <app-feature
        icon="users-three"
        i18n-title title="Effortless Account Management"
        i18n-description description="Stay logged in across all your Discourse accounts and switch between them with zero friction."
      ></app-feature>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12" >
      <img ngSrc="img/features/screenshot.avif" alt="Application screenshot" class="screenshot" priority width="400" height="500" />
    </div>

    <div class="col-lg-3 col-md-12">
      <app-feature
        icon="palette"
        i18n-title title="Customizable Interface"
        i18n-description description="Personalize themes and settings to suit your style."
      ></app-feature>

      <app-feature
        icon="chat-teardrop-dots"
        i18n-title title="Engage Effortlessly"
        i18n-description description="Create topics, reply, and interact with communities in a clean, user-friendly environment."
      ></app-feature>

      <app-feature
        icon="devices"
        i18n-title title="Seamless Experience on Every OS"
        i18n-description description="Enjoy a consistent, native-feeling interface whether you're on Android, Windows, Linux — and soon, iOS and macOS."
      ></app-feature>
    </div>
  </div>
</div>
