<div class="container features">
  <div class="row">
    <div class="col-lg-3">
      <app-feature
        icon="magnifying-glass"
        title="Discover New Communities"
        description="Find forums based on your interests and language preferences with ease."
      ></app-feature>

      <app-feature
        icon="push-pin"
        title="All Your Forums, One App"
        description="Manage multiple Discourse communities from a single place — no more browser tab overload.."
      ></app-feature>

      <app-feature
        icon="users-three"
        title="Effortless Account Management"
        description="Stay logged in across all your Discourse accounts and switch between them with zero friction."
      ></app-feature>
    </div>

    <div class="col-lg-6 px-4" >
      <img src="img/features/screenshot.png" alt="Application screenshot" class="screenshot">
    </div>

    <div class="col-lg-3">
      <app-feature
        icon="palette"
        title="Customizable Interface"
        description="Personalize themes and settings to suit your style."
      ></app-feature>

      <app-feature
        icon="chat-teardrop-dots"
        title="Engage Effortlessly"
        description="Create topics, reply, and interact with communities in a clean, user-friendly environment."
      ></app-feature>

      <app-feature
        icon="devices"
        title="Seamless Experience on Every OS"
        description="Enjoy a consistent, native-feeling interface whether you're on Android, Windows, Linux — and soon, iOS and macOS."
      ></app-feature>
    </div>
  </div>
</div>
