<div class="container" style="position: relative;">

  <div class="row mt-5">
    <div class="col-12">
      <h1 class="title" i18n>All your communities,<br />One single app.</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 image-wrapper">
      <img class="main-image" ngSrc="img/hero/hero.png" alt="screenshot of the app" priority width="500" height="400" />
      <img class="icon asana" ngSrc="img/hero/asana.avif" alt="asana icon" width="48" height="48">
      <img ngSrc="img/hero/epic.avif" alt="Epic games icon" class="icon epic" width="48" height="48">
      <img ngSrc="img/hero/monzo.avif" alt="Monzo bank" class="icon monzo" width="48" height="48">
      <img ngSrc="img/hero/nu.avif" alt="floating Nu Bank icon" class="icon nu" width="48" height="48">
      <img ngSrc="img/hero/openai.avif" alt="" class="icon openai" width="48" height="48">
      <img ngSrc="img/hero/smart-things.avif" alt="floating samsumg smart things icon" class="icon smart-things" width="48" height="48">
    </div>
  </div>

  <div class="social-button-wrapper">
    <app-social-button icon="instagram-logo" link="https://www.instagram.com/app.outlet/"></app-social-button>
    <app-social-button icon="x-logo" link="https://x.com/AppOutletTeam"></app-social-button>
    <app-social-button icon="threads-logo" link="https://www.threads.com/@app.outlet"></app-social-button>
    <app-social-button icon="mastodon-logo" link="https://mastodon.social/@AppOutlet"></app-social-button>
    <app-social-button icon="youtube-logo" link="https://www.youtube.com/@AppOutletTeam"></app-social-button>
    <app-social-button icon="github-logo" link="https://github.com/AppOutlet"></app-social-button>
  </div>

  <div class="download-button">
    <a href="#download" mat-flat-button class="px-4">
      <mat-icon aria-hidden="true" fontSet="ph" fontIcon="ph-download" class="px-1"></mat-icon>
      <span>DOWNLOAD</span>
    </a>
  </div>
</div>
